@import "tailwindcss";

@font-face{
  font-family: 'Alliance No.2 Light';
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/Degarism\ Studio\ -\ Alliance\ No.2\ Light.woff") format('woff');
  font-display: swap;
}
.font-alliance{
  font-family: 'Alliance No.2 Light', sans-serif;
}
@font-face{
  font-family: "ABCWhyteHangulInktrapVariable-Trial";
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url("../fonts//ABCWhyteHangulInktrapVariable-Trial.woff2") format('woff2'), url("../fonts//ABCWhyteHangulInktrapVariable-Trial.woff") format('woff');
}
.font-abcwhyte{
  font-family: "ABCWhyteHangulInktrapVariable-Trial", sans-serif;
}

@layer base{
  :root { 
    /* portfolio card variable */
    --card-width: 135px;
    --card-depth: 67px;
    --link-lh: 0rem;

    /* light */
    /* --font-pretendard: "Pretendard", sans-serif; */
    --font-astasans: "AstaSans", sans-serif;
    --font-agahnsangsoo: agahnsangsoo2012, sans-serif;
    --font-jjjgothic: jjjgothic, sans-serif;

    --color-primary: #0098FF;
    --color-secondary: #00A052;
    --color-point: #edc405;
    --color-accent: #FF5FCF;
    --color-accent-50: rgba(255, 95, 207, 0.15);

    --fill-primary: #0098FF;
    --fill-secondary: #00A052;
    --fill-accent: #FF5FCF;

    --fill-base-500: #28282C;

    --bg-base-500: #28282C;
    --bg-primary: #0098FF;
    --bg-secondary: #00A052;

    --color-base-100: #FCFAEE;
    --color-base-200: #F3ECC3;
    --color-base-300: #D0D0D1;
    --color-base-400: #727376;
    --color-base-500: #28282C;

    --form-text-color: #28282C;
    --desc-text-color: #28282C;

    --color-success: #12B78C;
    --color-warning: #F6543D;
    --color-error: #D80016;

    --three-mode-bg: #ffd6f3;
    --mode-bg: #ffffff;
    --mode-color: #1a1a1a;
    --mode-secondary: #28282C;
    --mode-secondary-70: rgba(40, 40, 44, 0.7);
    --mode-secondary-50: rgba(40, 40, 44, 0.4);
    --mode-secondary-30: rgba(40, 40, 44, 0.2);

    --mode-bar-color: rgba(40, 40, 44, 0.55);
    --mode-svg-color: #fafafa;
    --mode-svg-color-50: linear-gradient(145deg, rgba(250, 250, 250, 0.5), rgba(255, 255, 255, 0.02));

    --mode-svg-color-70: linear-gradient(145deg, rgba(238, 238, 240, 0.6), rgba(238, 238, 240, 0.4));

    --font-weight-custom: 400;
    --font-weight-modal: 600;
    --font-weight-basic: 800;
    --font-weight-form: 700;

    --mode-secondary-10: #f5f5f7;
    --ring-color: #EEEEF0;

    --loading-bg: #EEEEF0;
    --loading-color: #D9D9DE;

    .custom-tracking{
    letter-spacing: normal;
    }
  }

  :root.dark{
    --mode-secondary-10: #28282C;
    --ring-color: #34343A;

    --loading-bg: #28282C;
    --loading-color: #34343A;

    --form-text-color: #D9D9DE;
    --desc-text-color: #EEEEF0;

    --three-mode-bg: #000000;
    --mode-bg: #000000;
    --mode-color: #fafafa;
    --mode-secondary: #ffffff;
    --mode-secondary-70: rgba(255, 255, 255, 0.7);
    --mode-secondary-50: rgba(255, 255, 255, 0.4);
    --mode-secondary-30: rgba(255, 255, 255, 0.3);

    --mode-bar-color: rgba(255, 255, 255, 0.55);
    --mode-svg-color: #1a1a1a;
    --mode-svg-color-50: linear-gradient(145deg, rgba(26, 26, 26, 0.5), rgba(0, 0, 0, 0.02));

    --mode-svg-color-70: linear-gradient(145deg, rgba(40, 40, 44, 0.5), rgba(40, 40, 44, 0.3));

    --color-primary: #06ABFF;
    --color-secondary: #00BF5D;

    --fill-primary: #06ABFF;
    --fill-secondary: #00BF5D;

    --bg-primary: #06ABFF;
    --bg-secondary: #00BF5D;

    --color-success: #079C79;
    --color-warning: #E5432C;
    --color-point: #E8FD00;

    --font-weight-custom: 600;
    --font-weight-modal: 700;
    --font-weight-basic: 700;
    --font-weight-form: 600;
  }
  :root.dark body{ /* dark mode font */
    font-weight: 800;
    letter-spacing: -0.0145em;
  }
  :root.dark .custom-tracking{
    letter-spacing: 0.01em;
  }
  html{
    overflow-x: hidden;
  }
  html, body{ /* dark mode transition */
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out, all 0.3s ease-in-out;
  }
  *{
    margin: 0;padding: 0;
  }
  *, html, body, div, button, a, input, textarea, select, option, label, summary, iframe, [contenteditable]{
    cursor: none;
  }
  ol,ul{
    list-style: none;
  }
  h1,h2,h3,h5,h6,h4{
    font-size: 100%;
  }
  a{color: inherit; text-decoration: none;}
  address{font-style: normal;}
  img,video{vertical-align: bottom;}
  table{border-collapse: collapse;}
  button{border: none; background: transparent;}
  button:focus, button:active, button:focus-visible{
  outline: none;
  }
  body{
    font-family: var(--font-astasans), -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", 
    "neue-haas-grotesk-text", "Pretendard", "Noto Sans KR", system-ui, sans-serif;
    
    line-height: 1.25;
    font-weight: 600; /* light mode font */

    background-color: var(--mode-bg);
    color: var(--mode-color);
  }
}
@layer utilities{ /* customizing */
  .scrollbar-hidden::-webkit-scrollbar{
    display: none; 
  }
  .scrollbar-hidden{
    -ms-overflow-style: none; 
    scrollbar-width: none; 
  }
  input[type="number"]::-webkit-outer-spin-button,
  input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
  }
  input[type="number"]{
  -moz-appearance: textfield;
  appearance: textfield;
  }
  @media (min-width: 409px) and (max-width: 639px){
    .mb-xs{
      margin-bottom: 6.25rem;
    }
  }
  @media (max-width: 640px){
    .max-w-screen-xs{
      margin: 0 1rem;
      max-width: 100%;
    }
    .media-text-xs{
      font-size: 0.875rem;
    }
  }
  @media (max-width: 639px){
    .w-xs-custom{
      width: 5rem;
    }
    .left-pos-xs{
      left: -20rem;
    }
    .left-w-xs{
      width: 550px;
    }
  }
  @media (min-width: 1536px) and (max-width: 1759px){
    .w-5xl-custom{
      width: 64rem;
    }
    .left-pos-5xl{
      left: -64rem;
    }
    .left-w-xs{
      width: 1024px;
    }
  }
  @media (min-width: 1760px){
    .left-w-xs{
      width: 1280px;
    }
  }
  @media (max-width: 1023px){
    .animate-text-scroll-media{
    animation: text-scroll-left-media 50s linear infinite;
    }
  }
  @media (min-width: 1280px) and (max-width: 1535px){
    .left-w-xs{
      width: 800px;
    }
  }
  @media(min-width: 641px) and (max-width: 767px){
    .mb-br{
      margin-bottom: 0.5rem;
    }
  }
  @media(max-width: 565px){
    .mb-br{
      margin-bottom: 0.5rem;
    }
    .media-logo-w{
    display: none;
    }
    .left-pos-xs{
      left: -11rem;
    }
    .left-w-xs{
      width: 400px;
    }
    .form-btn-text{
      font-size: 1rem;
    }
    .social-btn-size{
      width: 2.5rem;
      height: 2.5rem;
    }
    .social-svg-size{
      width: 1.5rem;
      height: 1.5rem;
    }
    .social-naver-size{
      width: 1.25rem;
      height: 1.25rem;
    }
    .social-google-size{
      width: 1.375rem;
      height: 1.375rem;
    }
    .social-github-size{
      width: 1.625rem;
      height: 1.625rem;
    }
  }
  @media(max-width: 408px){
    .media-bar-w-lg{
      width: 3rem;
      height: 3rem;
    }
    .media-bar-h-lg{
      height: 3rem;
    }
    .media-bar-w-sm{
      width: 2rem;
      height: 2rem;
    }
    .media-bar-w-s{
      width: 1.875rem;
      height: 1.875rem;
    }
    .media-bar-w-xs{
      width: 1.75rem;
      height: 1.75rem;
    }
    .media-bar-w-icon{
      width: 1.25rem;
      height: 1.25rem;
    }
    .media-search-bot-xs{
      bottom: 4rem;
    }
    .left-pos-xs{
      left: -8rem;
    }
    .left-w-xs{
      width: 270px;
    }
    .form-title{
      font-size: 1.75rem;
      line-height: 1.5rem;
    }
    .form-h2{
      font-size: 1.375rem;
    }
  }

  /* color palate */
  .gradient-bg{
    background: var(--gradient-bg);
  }
  .ring-color{
    --tw-ring-color: var(--ring-color);
    background-color: var(--ring-color);
  }

  .form-text-color{
    color: var(--form-text-color);
  }
  .form-bg-color{
    background-color: var(--mode-secondary-10);
  }
  .loading-bg{
    background-color: var(--loading-bg);
  }
  .loading-color{
    background-color: var(--loading-color);
  }
  .desc-text-color{
    color: var(--desc-text-color);
  }
  
  .color-primary{
    color: var(--color-primary);
  }
  .color-secondary{
    color: var(--color-secondary);
  }
  .color-point{
    color: var(--color-point);
  }
  .color-accent{
    color: var(--color-accent);
  }
  .bg-accent{
    background-color: var(--color-accent);
  }
  .bg-point{
    background-color: var(--color-point);
  }
  .bg-success{
    background-color: var(--color-success);
  }
  .bg-warning{
    background-color: var(--color-warning);
  }
  .color-accent-50{
    background-color: var(--color-accent-50);
  }

  .color-base-100{
    color: var(--color-base-100);
  }
  .color-base-200{
    color: var(--color-base-200);
  }
  .color-base-300{
    color: var(--color-base-300);
    --tw-ring-color: var(--color-base-300);
  }
  .color-base-400{
    color: var(--color-base-400);
    --tw-ring-color: var(--color-base-400);
  }
  .color-base-500{
    color: var(--color-base-500);
    --tw-ring-color: var(--color-base-500);
  }

  .color-success{
    color: var(--color-success);
  }
  .color-warning{
    color: var(--color-warning);
  }
  .color-error{
    color: var(--color-error);
  }

  .fill-primary{
    fill: var(--fill-primary);
  }
  .fill-secondary{
    fill: var(--fill-secondary);
  }
  .fill-base-500{
    fill: var(--fill-base-500);
  }

  .bg-base-500{
    background-color: var(--bg-base-500);
  }
  .bg-primary{
    background-color: var(--bg-primary);
  }
  .bg-secondary{
    background-color: var(--bg-secondary);
  }
  /* hover */
  .hover\:mode-secondary:hover{
    background-color: var(--mode-secondary);
  }
  .hover\:mode-svg-color:hover{
    fill: var(--mode-svg-color);
    color: var(--mode-svg-color);
  }
  .hover\:bg-primary:hover{
    background-color: var(--bg-primary);
  }
  .hover\:bg-secondary:hover{
    background-color: var(--bg-secondary);
  }
  .hover\:bg-accent:hover{
    background-color: var(--color-accent);
  }
  .hover\:bg-point:hover{
    background-color: var(--color-point);
  }
  .hover\:bg-warning:hover{
    background-color: var(--color-warning);
  }
  .hover\:bg-error:hover{
    background-color: var(--color-error);
  }
  .hover\:bg-success:hover{
    background-color: var(--color-success);
  }

  .mode-secondary{
    background-color: var(--mode-secondary);
  }
  .mode-secondary-50{
    background-color: var(--mode-secondary-50);
  }
  .mode-bar-color{
    fill: var(--mode-bar-color);
  }
  .mode-svg-color{
    fill: var(--mode-svg-color);
    color: var(--mode-svg-color);
  }
  .mode-svg-color-50{
    background: var(--mode-svg-color-50);
  }
  .mode-svg-color-70{
    background: var(--mode-svg-color-70);
  }
  .mode-bg{
    background-color: var(--mode-bg);
  }
  .mode-70{
    background-color: var(--mode-secondary-70);
  }

  /* animations */
  .animate-slow-spin{
    animation: slow-spin 50s linear infinite;
  }
  .animate-text-scroll{
    animation: text-scroll-left 50s linear infinite;
  }

  /* hamburger bar */
  .bar{
    width: 1.75rem;
    height: 0.25rem;
    background-color: var(--mode-svg-color);
    transition: 0.3s ease-in-out;
    transform-origin: center;
  }
  .bar-top, .bar-mid ,.bar-bot{
    position: absolute;
    /* left: 0; */
  }
  .bar-top{
    transform: translate3d(0, -0.5rem, 0);
  }
  .bar-mid{
    transform: translate3d(0, 0, 0);
  }
  .bar-bot{
    transform: translate3d(0, 0.5rem, 0);
  }
  .no-animation{
  -webkit-animation: none !important;
  animation: none !important;
  }
  .animate-line-1 {
    animation: animate-line-1 0.65s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .animate-line-2 {
    animation: animate-line-2 0.65s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .animate-line-3 {
    animation: animate-line-3 0.65s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .animate-line-1-rev {
    animation: animate-line-1-rev 0.65s ease-in-out forwards;
  }
  .animate-line-2-rev {
    animation: animate-line-2-rev 0.65s ease-in-out forwards;
  }
  .animate-line-3-rev {
    animation: animate-line-3-rev 0.65s ease-in-out forwards;
  }

  /* mouse event */
  .pointer-none{
  pointer-events: none;
  }

  /* border custom - menu & condition bar */
  .border-custom-all{
    border: 0.0625rem solid var(--mode-secondary-30);
  }
  .border-custom-top{
    border: 0.0313rem solid var(--mode-secondary-30);
    border-bottom: none;
    padding-bottom: 0.0313rem;
  }
  .border-custom-middle{
    border: 0.0313rem solid var(--mode-secondary-30);
    border-top: none;
    border-bottom: none;
  }
  .border-custom-bottom{
    border: 0.0313rem solid var(--mode-secondary-30);
    border-top: none;
  }
  .border-custom-left{
    border: 0.0313rem solid var(--mode-secondary-30);
    border-right: none;
    padding-right: 0.0313rem;
  }
  .border-custom-left-middle{
    border: 0.0313rem solid var(--mode-secondary-30);
    border-left: none;
    border-right: none;
  }
  .border-custom-right{
    border: 0.0313rem solid var(--mode-secondary-30);
    border-left: none;
    padding-left: 0.0625rem;
  }

  /* font custom */
  .font-agahnsangsoo{
    font-family: var(--font-agahnsangsoo);
  }
  .font-jjjgothic{
    font-family: var(--font-jjjgothic);
  }
  .font-weight-custom{
    font-weight: var(--font-weight-custom);
  }
  .font-weight-modal{
    font-weight: var(--font-weight-modal);
  }
  .font-weight-basic{
    font-weight: var(--font-weight-basic);
  }
  .font-weight-form{
    font-weight: var(--font-weight-form);
    letter-spacing: 0.005em;
  }
  /* lesp */
  /* profile username */
  .username-spacing{
    letter-spacing: 0;
  }
  :root.dark .username-spacing{
    letter-spacing: 0.007em;
  }
  /* community username */
  .username-spacing-comm{
    letter-spacing: 0;
  }
  :root.dark .username-spacing-comm{
    letter-spacing: 0.015em;
  }
  /* community desc */
  .username-spacing-desc{
    letter-spacing: 0;
  }
  :root.dark .username-spacing-desc{
    letter-spacing: 0;
  }

  .trapezoid-posts{
  clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);
  border: 0.0625rem var(--ring-color) solid;
  }

  .animate-appear{
    animation: appear 0.3s cubic-bezier(.31,1.76,.72,.76) 1;
  }

  /* chatRoom bubble custom */
  .bubble-left::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 80%;
    max-width: 94%;
    width: 100%;
    height: 10%;
    min-height: 0.75rem;
    max-height: 1rem;
    border-radius: 6.25rem;
    background: linear-gradient(to bottom, 
      rgb(237, 252, 255, 0.7) 0%,
      rgb(237, 252, 255, 0) 100%
    );
  }
  .bubble-left{
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, 
      #1a1a1a 0%,
      #28282c 25%,
      #3a3a40 50%,
      #757682 90%,
      #92939e 100%
    );
    box-shadow: 0 0 0 0.0313rem #1a1a1a;
  }
  .bubble-right::before{
    content: "";
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 80%;
    max-width: 94%;
    width: 100%;
    height: 10%;
    min-height: 0.75rem;
    max-height: 1rem;
    border-radius: 6.25rem;
    background: linear-gradient(to bottom, 
      rgb(237, 252, 255, 0.9) 0%,
      rgb(237, 252, 255, 0) 100%
    );
  }
  .bubble-right{
    position: relative;
    overflow: hidden;
    background: linear-gradient(to bottom, 
      #0d619b 0%,
      #0873c5 25%,
      #0098ff 50%,
      #48e0ff 90%,
      #83edff 100%
    );
    box-shadow: 0 0 0 0.0313rem #0098ff;
  }

  /* portfolio box */
  .scene{
    perspective: 1500px;
    width: 100%;
    height: 100%;
    max-width: var(--card-width);
  }
  .card{
    position: relative;
    aspect-ratio: 5/7;
    transform-style: preserve-3d;
    transition: transform 0.7s cubic-bezier(0.68, -1.0, 0.265, 2.0);
  }
  .card-face{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--loading-bg);
    color: var(--mode-color);
    backface-visibility: hidden;
  }
  .card-front{
    transform: rotateY(0deg) translateZ(var(--card-depth));
  }
  .card-back{
    transform: rotateY(180deg) translateZ(var(--card-depth));
  }
  .card-left{
    transform: rotateY(-90deg) translateZ(var(--card-depth));
  }
  .card-right{
    transform: rotateY(90deg) translateZ(var(--card-depth));
  }
  .portfolio-link{
    line-height: var(--link-lh);
  }

  @media (max-width: 374px){
    :root{
      --card-width: 135px;
      --card-depth: 67px;
      --link-lh: 2.5rem;
    }
  }
  @media (min-width: 375px) and (max-width: 407px){
    :root{
      --card-width: 160px;
      --card-depth: 80px;
      --link-lh: 3rem;
    }
    .portfolio-grid{
      padding-top: 16.5rem;
    }
  }
  @media (min-width: 408px) and (max-width: 479px){
    :root{
      --card-width: 175px;
      --card-depth: 87px;
      --link-lh: 3.25rem;
    }
    .portfolio-grid{
      padding-top: 17rem;
    }
  }
  @media (min-width: 480px) and (max-width: 539px){
    :root{
      --card-width: 205px;
      --card-depth: 102px;
      --link-lh: 3.75rem;
    }
    .portfolio-grid{
      padding-top: 17.25rem;
    }
  }
  @media (min-width: 540px) and (max-width: 767px){
    :root{
      --card-width: 230px;
      --card-depth: 115px;
      --link-lh: 4rem;
    }
    .portfolio-grid{
      padding-top: 17.5rem;
    }
  }
  @media (min-width: 768px) and (max-width: 1023px){
    :root{
      --card-width: 196px;
      --card-depth: 97px;
      --link-lh: 3.75rem;
    }
  }
  @media (min-width: 1024px) and (max-width: 1279px){
    :root{
      --card-width: 233px;
      --card-depth: 116px;
      --link-lh: 4.625rem;
    }
  }
  @media (min-width: 1280px) and (max-width: 1535px){
    :root{
      --card-width: 303px;
      --card-depth: 151px;
      --link-lh: 6.25rem;
    }
  }
  @media (min-width: 1536px){
    :root{
      --card-width: 371px;
      --card-depth: 185px;
      --link-lh: 8rem;
    }
  }

}

@layer components{}

@media (max-width: 408px){/* hamburger bar - media */
  .bar{
    width: 1.25rem;
    height: .1875rem;
  }
  .bar-top{
    transform: translate3d(0, -0.4rem, 0);
  }
  .bar-bot{
    transform: translate3d(0, 0.4rem, 0);
  }
  .animate-line-1 {
    animation: animate-line-1-media 0.65s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .animate-line-3 {
    animation: animate-line-3-media 0.65s cubic-bezier(0.3, 1, 0.7, 1) forwards;
  }
  .animate-line-1-rev {
    animation: animate-line-1-rev-media 0.65s ease-in-out forwards;
  }
  .animate-line-3-rev {
    animation: animate-line-3-rev-media 0.65s ease-in-out forwards;
  }
}

@keyframes slow-spin{
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
@keyframes text-scroll-left {
  0%{
    transform: translateX(100%);
  }
  40%{
    transform: translateX(0%);
  }
  70%{
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-80%);
  }
}
@keyframes text-scroll-left-media {
  0%{
    transform: translateX(100%);
  }
  100%{
    transform: translateX(-100%);
  }
}

/* hamburger bar click animation */
@keyframes animate-line-1{
  0% { transform: translate3d(0, -0.5rem, 0) rotate(0deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, 0, 0) rotate(45deg); }
}
@keyframes animate-line-2{
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(0); opacity: 0; }
}
@keyframes animate-line-3{
  0% { transform: translate3d(0, 0.5rem, 0) rotate(0deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, 0, 0) rotate(135deg); }
}
/*--*/
@keyframes animate-line-1-rev{
  0% { transform: translate3d(0, 0, 0) rotate(45deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, -0.5rem, 0) rotate(0deg); }
}
@keyframes animate-line-2-rev{
  0% { transform: scale(0); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes animate-line-3-rev{
  0% { transform: translate3d(0, 0, 0) rotate(135deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, 0.5rem, 0) rotate(0deg); }
}
/* hamburger bar click animation - media */
@keyframes animate-line-1-media{
  0% { transform: translate3d(0, -0.4rem, 0) rotate(0deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, 0, 0) rotate(45deg); }
}
@keyframes animate-line-3-media{
  0% { transform: translate3d(0, 0.4rem, 0) rotate(0deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, 0, 0) rotate(135deg); }
}
/*--*/
@keyframes animate-line-1-rev-media{
  0% { transform: translate3d(0, 0, 0) rotate(45deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, -0.4rem, 0) rotate(0deg); }
}
@keyframes animate-line-3-rev-media{
  0% { transform: translate3d(0, 0, 0) rotate(135deg); }
  50% { transform: translate3d(0, 0, 0) rotate(0); }
  100% { transform: translate3d(0, 0.4rem, 0) rotate(0deg); }
}

/* likeBtn click animation */
@keyframes appear{
  0%{
    transform: scale(0);
    transform-origin: center center;
  }
  100%{
    transform: scale(1);
    transform-origin: center center;
  }
}